<?xml version="1.0" encoding="utf-8"?>

<!--
  Model primitives.

  Author: Helio Perroni Filho
  Editor: Guilherme Teixeira Caldana
-->

<robot name="rosbot3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find rosbot3_description)/urdf/rosbot3.xacro"/>
  <xacro:include filename="$(find ros_commons)/urdf/gazebo.xacro"/>

  <xacro:skid_steer_controller
    name="skid_steer_controller"
    front_left_joint="joint_wheel_front_left"
    front_right_joint="joint_wheel_front_right"
    rear_left_joint="joint_wheel_rear_left"
    rear_right_joint="joint_wheel_rear_right"
    wheel_separation="${wheel_separation}"
    wheel_diameter="${wheel_diameter}"
    publish_odom="true"
  />
  

  <xacro:depth_camera name="camera_front"/>
  <xacro:lidar_2d name="laser"/>
</robot>
